################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.v2
/.vs/TCF.ALSO.Project.slnx
__azurite_db_table__.json
__azurite_db_queue_extent__.json
__azurite_db_queue__.json
__azurite_db_blob_extent__.json
__azurite_db_blob__.json
/.vs
