################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.v2
/.vs/TCF.ALSO.Project.slnx
